@page
@model DeMozzWeb.Pages.Categories.IndexModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-danger">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="CreateCategory" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> &nbsp;Create new category
            </a>
        </div>
    </div>

    <br/> 

    <table class="table table-bordered table-striped table-dark" style="width:100%">
        <thead class="table-light">
            <tr>
                <th>Category Name</th>
                <th>Display Order</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var ob in Model.Categories){
                <tr>
                    <td width="50%">@ob.Name</td>
                    <td width="30%">@ob.DisplayOrder</td>
                    <td>
                        <div class="w-75 btn-group ms-5" role="group">
                            <a asp-page="Edit" asp-route-id="@ob.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-page="Delete" asp-route-id="@ob.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            } 
        </tbody>
    </table>


</div>